[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.2"
djangorestframework = "*"
django-heroku = "*"
pygments = "*"
dj-database-url = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
